<div class="card mt-5 text-center bg-light py-3" >
       <%= form_with(model: @post, local: true) do |f|  %>
              <div class="my-3">
                     <%= f.text_field :image_url, placeholder: "Url de la imagen", size: "78" %>
              </div>
              <div>
                     <%= f.text_area :content, size: "80x5", placeholder: "descripcion" %><br>
                     <%= f.submit "Publicar" %>
              </div>
       <%end%>
</div>