<div class="card mt-5" >
       <%= form_with(model: @post, local: true) do |f|  %>
              <div class="my-3 text-lef ml-5 imagenfield">
                     <%= f.text_field :image_url, placeholder: "Url de la imagen" %>
              </div>
              <div class="text-center">
                     <%= f.text_area :content, size: "60x5", placeholder: "descripcion" %><br>
                     <%= f.submit "Publicar" %>
              </div>
       <%end%>
</div>