<nav class="navbar navbar-expand-lg navbar-light">
       <div class="container">
              <a class="navbar-brand" href="#">Instafotos</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                     <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                   <a class="nav-link" href="#">Explorar<span class="sr-only">(current)</span></a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bienvenido</a>
                                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                          <% if user_signed_in? %>
                                                 <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
                                                 <%= link_to "Editar cuenta", edit_user_registration_path %>
                                          <%else%>
                                                 <%= link_to "Iniciar sesion", new_user_session_path %>
                                                 <%= link_to "Registrarme", new_user_registration_path %>
                                          <%end%>
                                          <!--<a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                                 <a class="dropdown-item" href="#">Something else here</a>-->
                                   </div>
                            </li>
                     </ul>
                     <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                     </form>
              </div>
       </div>
</nav>